@model backEndCapstone.Models.ViewModels.UpdateCharacterViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Character.CharacterId" />
            <input type="hidden" asp-for="Character.CharacterClassId" />
            <input type="hidden" asp-for="Character.BackgroundId" />
            <input type="hidden" asp-for="Character.RaceId" />
            <div class="form-group">
                <label asp-for="Character.Name" class="control-label"></label>
                <input asp-for="Character.Name" class="form-control" />
                <span asp-validation-for="Character.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Alignment" class="control-label"></label>
                <input asp-for="Character.Alignment" class="form-control" />
                <span asp-validation-for="Character.Alignment" class="text-danger"></span>
            </div>
            <div id="AbilityScores">
                <div class="form-group">
                    <label asp-for="Character.Strength" class="control-label"></label>
                    <input asp-for="Character.Strength" class="form-control" />
                    <span asp-validation-for="Character.Strength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Character.Dexterity" class="control-label"></label>
                    <input asp-for="Character.Dexterity" class="form-control" />
                    <span asp-validation-for="Character.Dexterity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Character.Constitution" class="control-label"></label>
                    <input asp-for="Character.Constitution" class="form-control" />
                    <span asp-validation-for="Character.Constitution" class="text-danger"></span>
                </div>
            </div>
            <div id="AbilityScores">
                <div class="form-group">
                    <label asp-for="Character.Intelligence" class="control-label"></label>
                    <input asp-for="Character.Intelligence" class="form-control" />
                    <span asp-validation-for="Character.Intelligence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Character.Wisdom" class="control-label"></label>
                    <input asp-for="Character.Wisdom" class="form-control" />
                    <span asp-validation-for="Character.Wisdom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Character.Charisma" class="control-label"></label>
                    <input asp-for="Character.Charisma" class="form-control" />
                    <span asp-validation-for="Character.Charisma" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="Character.Equipment" class="control-label"></label>
            <div class="form-group">
                @Html.ListBoxFor(m => m.EquipmentIds, Model.Equipment)
                <span asp-validation-for="Character.Equipment" class="text-danger"></span>
            </div>
            <label asp-for="Character.Feats" class="control-label"></label>
            <div class="form-group">
                @Html.ListBoxFor(m => m.FeatIds, Model.Feats)
                <span asp-validation-for="Character.Feats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
